html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #666666;
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

/* Helper classes */
.h-100 {
  font-size: 100px;
  font-weight: 900;
}
.h-80 {
  font-size: 80px;
  font-weight: 700;
}
.h-60 {
  font-size: 60px;
  font-weight: 700;
}
.h-40 {
  font-size: 40px;
  font-weight: 700;
}
.h-30 {
  font-size: 30px;
  font-weight: 700;
}
.h-20 {
  font-size: 20px;
  font-weight: 700;
}
.l-flex {
  display: -webkit-flex;
  display: flex;
}
.l-flex-col {
  flex-direction: column;
}
.l-flex-row {
  flex-direction: row;
}
.l-center {
  margin: auto;
}
.l-text-center {
  text-align: center;
}
.m-pri-bg {
  background: #08415c;
}
.m-sec-bg {
  background: #d54f5a;
}
.m-white-bg {
  background: #ffffff;
}
.m-pri-color {
  color: #08415c;
}
.m-sec-color {
  color: #d54f5a;
}
.l-w-max {
  width: 100%;
}
.l-h-max {
  height: 100%;
}
.l-1000-600 {
  width: 1000px;
  height: 600px;
}
.l-500-500 {
  width: 500px;
  height: 500px;
}
.l-500-400 {
  width: 500px;
  height: 400px;
}
.l-500-300 {
  width: 500px;
  height: 300px;
}
.l-500-200 {
  width: 500px;
  height: 200px;
}
.l-400-500 {
  width: 400px;
  height: 500px;
}
.l-400-400 {
  width: 400px;
  height: 400px;
}
.l-400-300 {
  width: 400px;
  height: 300px;
}
.l-400-200 {
  width: 400px;
  height: 200px;
}
.l-300-300 {
  width: 300px;
  height: 300px;
}
.l-300-200 {
  width: 300px;
  height: 200px;
}
.l-250-100 {
  width: 250px;
  height: 100px;
}
.l-200-200 {
  width: 200px;
  height: 200px;
}
.l-200-100 {
  width: 200px;
  height: 100px;
}
.m-success {
  color: #1c7c19;
}
.m-error {
  color: #8f2020;
}
.m-required {
  outline-color: #8f2020;
  outline-width: 2px;
  outline-style: auto;
}

/* Generic page wrapper */
.page-wrapper {
  display: flex;
  width: 100%;
  height:100%;
  color: #ffffff;
}
.main-wrapper {
  flex-wrap: nowrap;
  flex-direction: row;
}
.page-wrapper--bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../imgs/landing_bg.jpg') no-repeat fixed center;
  background-size: cover;
}
.page-wrapper--bg--plain {
  background: #f2f2f2;
}

/* Footer */
.page-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*
  margin-top: auto;
  */
  padding-top: 10px;
}
.page-footer--small {
  height: 50px;
}
.page-footer--small-text p {
  font-size: 12px;
}
.page-footer--big {
  justify-content: flex-end;
  padding-bottom: 8px;
}
.page-footer--big p {
  font-size: 12px;
  margin: unset;
}
.page-footer__text {
  margin: auto;
  font-size: 15px;
  color: #d54f5a;
  text-align: center;
}

/* Forms */

/* Credit: https://www.w3schools.com/howto/howto_css_loader.asp */
.loader-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.loader {
  border: 5px #86343b solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  background: #ffffff;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loader img {
  width: 32px;
  height: auto;
  margin: auto;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 40%;
  margin: auto;
  background: #ffffff;
  border: solid #08415c 1px;
}
.form-wrapper__heading {
  padding-top: 15px;
  padding-bottom: 15px;
  flex-basis: 100%;
  color: #ffffff;
  border-bottom: solid #d54f5a 2px;
}
.form-wrapper__title {
   margin: 0;
}
.home-link {
  text-decoration: none;
  color: #ffffff;
}
.home-link_sub {
  display: block;
  font-size: 12px;
  color: #d54f5a;
}
.alert-message {
  margin-top: 10px auto;
  padding-top: 20px;
  font-size: 13px;
  text-align: center;
}
.reg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  padding: 20px 0;
}
.reg-form__label, .reg-form__input, .reg-form__button {
  width: 95%;
}
.reg-form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 50px 50px;
  background: #ffffff;
  border: solid #ebebeb 1px;
}
.reg-form__label {
  font-size: 13px;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 4px;
}
.reg-form__input {
  height: 30px;
  margin-bottom: 5px;
  padding-left: 5px;
  font-size: 12px;
  color: #000000;
}
.reg-form__input:focus {
  outline-color: #08415c;
  outline-width: 1px;
}
.reg-form__button {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  background: #08415c;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.reg-form__button:hover {
  background: #d54f5a;
}
.reg-form__button:focus {
  outline: none;
}
.form-meta-data {
  display: flex;
  flex-direction: row;
  width: 75%;
  align-self: center;
}
.reg-form__text {
  font-size: 14px;
}
.forgot-password {
  align-self: flex-start;
  font-size: 12px;
  padding-left: 8px;
}
.reg-form__link-wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.reg-form__link {
  font-size: 13px;
}
.reg-form__link:hover {
  color: #d54f5a;
}

/* Main navigation bar */

.main-nav {
  min-width: 200px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #08415c;
}
.main-nav__header {
  flex: 0.4;
  align-items: center;
  width: 100%;
  background: #082e3f;
}
.nav-footer {
  flex: 0.8;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-bottom: 10px;
  flex-direction: column;
}
.nav-footer__text {
  margin: 0;
}
.main-nav__heading {
  padding-top: 35px;
  margin-left: 30px;
  margin-bottom: 20px;
  color: #ffffff;
}
.main-nav__list {
  width: 100%;
  list-style-type: none;
}
.top-list {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 60px;
}
.top-list li {
  height: 60px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 13px;
  letter-spacing: 1px;
  border-left: solid #08415c 4px;
  cursor: pointer;
}
.top-list li:hover {
  font-size: 14px;
  transition: all 330ms ease-in-out;
  -webkit-transition: all 330ms ease-in-out;
  -moz-transition: all 330ms ease-in-out;
  -ms-transition: all 330ms ease-in-out;
  -o-transition: all 330ms ease-in-out;
}
.top-list li:hover .main-nav__icon {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transition: transform 330ms ease-in-out;
  -webkit-transition: transform 330ms ease-in-out;
  -moz-transition: transform 330ms ease-in-out;
  -ms-transition: transform 330ms ease-in-out;
  -o-transition: transform 330ms ease-in-out;
}
.active {
  border-color: #d54f5a !important;
  background: #082e3f;
}
.top-list span {
  color: #fafafa;
}
.top-list i {
  color: #d54f5a;
}
.main-nav__li-item {
  display: block;
}
.main-nav__link {
  text-decoration: none;
}
.main-nav__icon {
  margin-right: 15px;
}
.main-nav__link-desc {
  text-transform: uppercase;
}
/* Main section */
.main-section {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  overflow: hidden;
}
.main-header {
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  background: #d54f5a;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(8, 65, 92, 10);
          box-shadow: 0px 2px 4px 0px rgba(8, 65, 92, 10);
}
.search {
  justify-content: flex-start;
  flex-basis: 20%;
  height: 100%;
  margin-left: 30px;
}
.search__form {
  width: 260px;
  height: 30px;
  margin: 15px auto;
}
.search__input {
  float: left;
  width: 200px;
  height: 100%;
  padding-left: 5px;
}
.search__input:focus {
  outline-color: #08415c;
  outline-width: 2px;
}
.search__button {
  float: left;
  width: 30px;
  height: 30px;
  background: #08415c;
  border: solid #08415c 1px;
}
.search__icon {
  font-size: 15px;
  color: #ffffff;
}
.mobile-heading, .mobile-nav-icon-box {
  display: none;
}
.profile {
  display: flex;
  flex-flow: row-reverse nowrap;
  flex-basis: 30%;
  height: 100%;
  margin-left: auto;
  margin-right: 20px;
}
.avatar {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.profile__title {
  width: 180px;
  margin-top: 25px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 100;
  text-transform: capitalize;
  color: #ffffff;
}
/* User profile panel */
.user-panel-box {
  display: flex;
  align-self: flex-end;
  position: absolute;
  right: 105px;
  top: 60px;
  width: 150px;
  height: 0px;
  overflow: hidden;
  z-index: 1;
  background: #ffffff;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(8, 65, 92, 10);
  box-shadow: 0px 2px 4px 0px rgba(8, 65, 92, 10);
}
.user-panel__desc {
  color: #082e3f;
}
.bot-list {
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.bot-list li {
  margin-top: 10px;
  font-size: 10px;
  letter-spacing: 2px;
  color: #082e3f;
}
.bot-list i {
  color: #082e3f;
  margin-right: 1px;
  margin-left: 10px;
}

/* Mobile navbar */
.mobile-nav {
  display: flex;
  flex-direction: column;
  height: 0px;
  background: #08415c;
  overflow: hidden;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
  border-bottom: 2px #d54f5a solid;
}
.mobile-nav__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 10px 0;
}
.mobile-nav__link {
  text-decoration: none;
}
.mobile-nav__li-item {
  padding: 10px 0;
}
.settings {
  margin-top: 0px;
}
.mobile-nav__link-desc {
  font-size: 15px;
  color: #ffffff;
}
.mobile-nav__icon {
  font-size: 20px;
  margin: 0 15px;
  color: #d54f5a;
}

/* Page Main */
.page-main {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  padding-top: 20px;
}

/* User dashboard */
.box-wrapper {
  width: 100%;
  padding: 0 20px;
}
.top-box {
  flex-direction: column;
}
.bot-box {
  margin-bottom: 20px;
}
.section-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 15px;
  text-transform: capitalize;
}
.trans-box {
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-box {
  flex-basis: 249px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  background: #ffffff;
}
.trans-detail {
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 5px;
}
.trans-date-time {
  margin-top: 10px;
}
.trans-title {
  width: 100%;
  font-weight: 900;
  font-size: 13px;
}
.trans-vendor {
  margin-top: 10px;
}
.trans-amount {
  font-size: 13px;
}
.account-wrapper {
  justify-content: space-between;
  width: 99%;
  padding: 40px 40px;
  background: #ffffff;
}
.account-box {
  display: flex;
  flex-direction: column;
  width: 49%;
  padding: 15px 100px;
  border: solid #ebebeb 1px;
}

.account-detail {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}
.account-card {
  display: block;
  color: #7c7c7c;
  font-size: 30px;
}
.card-logo {
  display: inline-block;
  width: auto;
  height: 50px;
  padding-top: 10px;
}
.account-balance {
  margin-top: 10px;
  font-size: 30px;
}
.account-green {
  color: #176803;
}
.account-red {
  color: #b30404;
}
.account-balance-desc {
  font-size: 12px;
  margin-left: 10px;
}
.main-footer {
  display: none;
}
.no-record {
  background: #ffffff;
  color: #7c7c7c;
}
.no-record p {
  font-size: 20px;
  margin: auto;
}
.no-top {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 30px;
  height: 200px;
}
.no-bot {
  display: flex;
  flex-basis: 100%;
  margin: auto;
  height: 300px;
}

/* accounts */
.column-wrapper {
  display: flex;
  flex-flow: column nowrap;
  background: #ffffff;
  padding: 30px;
  margin-bottom: 20px;
}
.big-wrapper {
  height: 100%;
  margin-bottom: 50px;
  padding: 10px 40px 0px 40px;
}
.account-detail__title {
  margin-bottom: 3px;
  font-size: 10px;
  text-transform: uppercase;
  color: #d54f5a;
}
.account-detail__title:first-of-type {
  margin-top: 15px;
}
.column-wrapper .account-detail {
  margin-top: 0;
  margin-bottom: 10px;
}
.action-btn {
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  background: #08415ce0;
  text-align: center;
  border-radius: 5px;
}
.action-btn:hover {
  background: #d54f5a;
}
.modal-cancel-btn {
  background: #08415c;
}
.delete-account-btn {
  background: #d54f5a;
}
.modal-cancel-btn:hover {
  background: #082e3f;
}
.delete-account-btn:hover {
  background: #64272c;
}
.create-new-link {
  align-self: flex-end;
  margin-bottom: 0px;
}
.view-transactions-link {
  margin-top: 40px;
}
.debit-account-btn, .credit-account-btn {
  background: #d54f5a;
}
.debit-account-btn:hover, .credit-account-btn:hover {
  background: #64272c;
}
/* New account form */

.big-box {
  height: 200px;
  margin: 20px 0;
  padding: 40px 20px;
  border: none;
  border-radius: 5px;
  background: #f7f5f59d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.big-box:first-of-type {
  padding-bottom: 40px;
  border-bottom: solid #ebebeb 1px;
}
.account-form-container {
  margin-bottom: 20px;
}
.account-form {
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  justify-content: center;
  width: 99%;
  margin-bottom: 0px;
  padding-top: 50px;
}
.account-form__fieldset {
  flex-basis: 50%;
  width: 70%;
}
.new-account-box {
  display: flex;
  align-items: center;
  padding-top: 0;
}
.new-account-box__inner {
  width: 70%;
  padding-top: 30px;
}
.success-msg {
  font-size: 14px;
  text-transform: capitalize;
  color: #1c7c19;
}

/* transactions */

.detail-table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
  margin-left: 10px;
  background: #ffffff;
  border-collapse: collapse;
}
.detail-table__row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.detail-table__row:nth-child(even) {
  background: #ebebeb;
}
.detail-table__head, .detail-table__cell {
  padding: 8px;
  border-bottom: solid #ebebeb 1px;
}
.detail-table__head {
  flex: 0.5;
  flex-shrink: 2;
  color: #ffffff;
  background: #08415c40;
  font-size: 12px;
}
.detail-table__cell {
  flex: 1;
  padding-left: 20px; 
  font-size: 12px;
}
.trans-tb-icon-head, .trans-tb-icon, .view-trans-btn {
  display: none;
}
.no-trans-table-record {
  padding: 40px;
}

/* admin dashboard */

.action-box {
  padding: 0;
}
.sentence {
  text-transform: capitalize;
}
.lower {
  text-transform: lowercase;
}
.action-detail {
  padding-left: 20px; 
}
.action-title {
  width: 100%;
  height: 50px;
  margin: 0;
  padding-top: 20px;
  color: #ffffff;
  background: #08415c40;
}
.action-category {
  color: #7c7c7c;
}
.user-box {
  padding-top: 50px;
  padding-left: 50px;
  border: none;
  background: #f7f5f59d;
  width: 100%;
}
.user-title {
  margin-left: 10px;
}
.user-detail {
  margin-left: 10px;
  font-size: 14px;
}
/* all-accounts */
.account-form-wrapper {
  padding: 60px 40px;
  background: #ffffff;
}
.all-accounts-table tr th:first-child {
  width: 8%;
}
.all-accounts-table tr th:nth-child(2) {
  width: 20%;
}
.action-head {
  width: 10%;
  padding-right: 0;
}
.action-cell {
  padding-right: 0;
  padding-left: 0;
}
.action-icon {
  float: left;
  position: relative;
  margin-right: 15px;
  font-size: 13px;
  color: #08415c60;
  cursor: pointer;
}
.action-icon-hint {
  visibility: none;
  position: absolute;
  width: max-content;
  color: #ffffff;
  background: #08415c;
  padding: 5px;
  z-index: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.action-icon:hover .action-icon-hint {
  visibility: visible;
}
.view-link {
  text-decoration: none;
}
.action-icon:hover {
  color: #d54f5a;
}
/* Brand modal */
.brand-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 120px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.brand-modal-inner {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.brand-modal-close {
  color: white;
  float: right;
  font-size: 25px;
  font-weight: bold;
}
.brand-modal-close:hover,
.brand-modal-close:focus {
  color: #d54f5a;
  text-decoration: none;
  cursor: pointer;
}
.brand-modal-header {
  flex: 1;
  display: flex;
  padding: 2px 16px;
  background-color: #08415c60;
}
.brand-modal-header h2 {
  margin: auto;
  color: #ffffff;
  font-size: 16px;
}
.brand-modal-main {
  flex: 2.5;
  display: flex;
  padding: 2px 16px;
}
.brand-modal-main p {
  margin: auto;
}
.brand-modal-footer {
  flex: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 2px 16px;
  background-color: #ebebeb;
  color: white;
}
.brand-modal-footer a {
  margin: 10px;
}
/* View modal */
.view-modal {
  padding-top: 120px;
}
.view-modal-inner {
  height: unset;
  font-size: 12px;
  padding-bottom: 20px;
}
.view-modal-header {
  margin-bottom: 20px;
}
/* User view modal */
.user-modal {
  height: unset;
  font-size: 12px;
  padding-bottom: 20px;
}
/* User settings modal */
#user-settings-modal {
  display: none;
}
.settings-modal {
  height: unset;
  font-size: 12px;
  padding-bottom: 20px;
}
.settings-modal-header {
  padding: 10px 0;
  background: #ffffff;
}
.settings-modal-header h2,
.settings-modal-header span {
  color: inherit;
}
.settings-modal-header span {
  margin-right: 20px;
}
.settings-modal-main {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 0;
  border: solid 1px #ebebeb;
}
.settings-tab {
  display: flex;
  justify-content: center;
  width: 100%;
}
.tab-links {
  flex: 1;
  padding: 10px 0;
  outline: none;
  border: none;
  background: #f2f2f2;
  cursor: pointer;
}
.active-tab {
  background: #ffffff;
}
.settings-box {
  display: none;
  flex-direction: column;
  width: 85%;
  height: 260px;
  margin: 20px auto;
}
.settings-box label,
.settings-box input {
  width: 100%;
}
.image-upload p {
  margin: 10px 0;
  text-rendering: optimizeLegibility;
  line-height: 20px;
}
.image-upload i {
  color: #86343b;
}
.image-upload {
  display: flex;
}
/* User Account view */

.single-account-box {
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px;
  background: #ffffff;
}
.transact-modal-inner {
  height: 300px;
}
.transact-modal-inner .brand-modal-main {
  padding-top: 20px;
}
.transact-modal-inner label,
.transact-modal-inner select,
.transact-modal-inner input {
  height: 25px;
}
.transact-link {
  margin-bottom: 20px;
}
.single-account-table-wrapper {
  display: flex;
  margin-top: 20px;
  border: solid 1px #ebebeb;
}
.single-account-table {
  width: 400px;
  padding-top: 40px;
  background: #f7f5f59d;
  margin-left: 0;
}
.single-account-row {
  background: none;
}
.single-account-row:nth-child(even) {
  background: none;
}
.single-detail {
  width: 200px;
  margin: 5px;
  font-size: 14px;
  color: #7c7c7c;
  background: none;
}
.single-detail__value {
  margin-left: 10px;
  font-size: 14px;
}
.single-detail, .single-detail__value {
  border-bottom: unset;
}
.account-image-box {
  width: 200px;
  height: 270px;
  padding: 20px 25px;
  background: #ffffff;
  border: solid #ebebeb 1px;
}
.account-image {
  width: 150px;
  height: auto;
}
.account-signature-box {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.account-signature-title {
  font-size: 14px;
  font-weight: 600;
}
.single-account-box {
  width: 100%;
  padding: 50px;
  justify-content: center;
}
.single-account-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  padding: 50px;
  border: solid #ebeaea 1px;
}
.single-account-table-wrapper {
  flex-basis: 100%;
}
.single-detail {
  width: 140px;
}
.single-detail, .single-detail__value {
  font-size: 1.1em;
}
.single-account-table {
  word-break: unset;
  font-size: 12px;
}
.single-account-table .single-detail, .single-account-table .single-detail__value {
  margin: 0;
  padding: 10px;
}
.account-image-box {
  flex-basis: 10%;
}


/* credit-debit */
.transaction-container {
  height: 90%;
}
.transaction-box {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.trans-alert {
  display: none;
  width: 57%;
  color: #64272c;
}
.trans-alert p {
  color: #64272c;
  text-align: center;
  font-size: 13px;
}
.transaction-account-search {
  flex: 1;
  display: flex;
  width: 60%;
  margin: 0;
}
.transaction-account-search form {
  display: flex;
  width: 95%;
}
.transaction-account-search input {
  width: calc(100% - 39px);
}
.selected-account-detail-box {
  display: none;
  width: 57%;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #f2f2f2;
}
.selected-account-detail-box p {
  margin: 5px;
  font-size: 13px;
}
.transaction-form {
  flex: 8;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
}
.transaction-form__input, .transaction-box__label {
  height: 30px;
  margin: 10px 0;
}

/* Users */
.users-table-wrapper {
  margin-bottom: 20px;
  padding: 30px 40px;
  background: #ffffff;
}
.users-table {
  width: 99%;
  margin-top: 10px;
}
.users-table tr th:first-child {
  width: 8%;
}
.users-table tr th:nth-child(2) {
  width: 50%;
}
.users-table tr th:last-child {
  width: 10%;
}

/* User Profile view */
.user-profile-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.user-profile-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
  padding: 50px 0;
  align-items: center;
}
.single-user-table-wrapper {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  border: solid 1px #ebebeb;
}
.single-user-table {
  justify-content: center;
  width: 80%;
  margin: 10px auto;
}
.single-user-table .detail-table__head {
  width: 60px;
}
.single-user-table .detail-table__head,
.single-user-table .detail-table__cell {
  margin: 5px;
  padding: 0;
  font-size: 14px;
}
.user-image-box {
  border: none;
  height: unset;
}
.user-image {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Create user */

.create-user-form {
  width: 100%;
  border: solid 1px #ebebeb;
}
.create-user-form__fieldset {
  width: 60%;
  border: unset;
}
.create-user-form__fieldset .alert-message {
  padding: 0;
}
.create-user-form__fieldset input,
.create-user-form__fieldset select {
  margin-bottom: 10px;
}

/*
*
*
Media Queries for Responsive layout
*
*
*/

/* Forms */
/* Media queries */
@media screen and (max-width: 480px) {
  .form-wrapper {
    width: 90%;
  }
  .user-panel-box {
    display: none;
  }
  .reg-form {
    width: 100%;
    margin-bottom: 0;
  }
  .reg-form__label, .reg-form__input, .reg-form__button, .reg-form__text {
    width: 80%;
  }
  .reg-form__input {
    border: solid #ebebeb 1px;
  }
  .form-meta-data {
    flex-direction: column;
    align-items: center;
  }
  .forgot-password {
    align-self: flex-start;
    font-size: 12px;
    width: 80%;
    padding-left: 10%;
  }
  .reg-form__link-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .reg-form__link-wrapper p {
    flex-basis: 60%;
    font-size: 12px;
  }
  .reg-form__link {
    font-size: 13px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .form-wrapper {
    width: 45%;
  }
  .forgot-password {
    align-self: flex-start;
    font-size: 12px;
    width: 80%;
  }
  .reg-form__link-wrapper {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  .reg-form__link-wrapper p {
    flex-basis: 60%;
    font-size: 12px;
  }
  .reg-form__link {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .form-wrapper {
    width: 30%;
  }
}


/* Main Navigation */
/* Media queries */
@media screen and (max-width: 480px) {
  .page-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .main-nav, .search, .profile__title {
    display: none;
  }
  .box-wrapper {
    margin-bottom: 0;
  }
  .top-box {
    padding-bottom: 0;
  }
  .bot-box {
    margin-bottom: 20px;
  }
  .box {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .no-top {
    padding: 50px 0;
  }
  .no-record p {
    font-size: 15px;
  }
  .box::-webkit-scrollbar {
    display: none;
  }
  .single-box {
    flex-basis: 90px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  .trans-detail {
    width: 180px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 10px;
  }
  .trans-title {
    font-size: 12px;
  }
  .account-wrapper {
    flex-direction: column;
  }
  .bot-box .l-flex {
    padding: 20px;
  }
  .account-box {
    width: 100%;
    margin: 10px 0;
    padding: 10px 30px;
  }
  .l-flex .account-box {
    margin-top: 0;
    margin-bottom: 0;
  }
  .l-flex .account-box:first-of-type {
    margin-bottom: 20px;
  }
  .card-logo {
    height: 30px;
  }
  .account-type, .account-number {
    font-size: 15px;
  }
  .account-card {
    font-size: 20px;
  }
  .account-balance {
    font-size: 20px;
  }
  .main-footer {
    display: flex;
    justify-content: center;
    height: 60px;
    background: #08415c;
  }
  .mobile-nav-icon-box {
    display: flex;
    flex-basis: 15%;
  }
  .mobile-nav-icon-link {
    margin: auto;
  }
  .mobile-nav-icon {
    font-size: 30px;
  }
  .mobile-heading {
    display: flex;
    flex-basis: 60%;
  }
  .mobile-heading__text {
    margin: auto;
  }
  .mobile-heading__text, .mobile-nav-icon {
    color: #08415c;
  }
  .profile {
    flex-basis: 15%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .main-nav__header {
    flex: 0.3;
  }
  .single-box {
    padding: 15px 30px;
  }
  .account-wrapper {
    flex-direction: column;
    padding: 20px;
  }
  .big-wrapper {
    padding: 0px;
    margin-bottom: 0;
  }
  .account-box {
    padding: 30px 40px;
    height: unset;
    width: 100%;
  }
  .card-logo {
    height: 40px;
  }
  .account-type, .account-number {
    font-size: 15px;
  }
  .account-card {
    font-size: 15px;
  }
  .account-balance {
    font-size: 35px;
  }
 
}
@media screen and (min-width: 1400px) {
  .single-box {
    flex-basis: 289px;
  }

}
@media screen and (min-width: 2000px) {
  

}

/* Brand modal */
/* Media queries */
@media screen and (max-width:480px) {
  .brand-modal {
    padding-top: 65px;
  }
}

/* Accounts */
/* Media queries */
@media screen and (max-width:480px) {
  .column-wrapper {
    padding: 0px 0;
    align-items: center;
  }
  .account-wrapper {
    padding: 0;
    justify-content: unset;
  }
  .big-wrapper {
    flex-wrap: nowrap;
    padding: 0px 20px 20px 20px;
    margin-bottom: 0;
    height: unset;
  }
  .big-box {
    height: unset;
    margin: 10px 0;
    padding: 10px 20px;
  }
  .big-box:first-of-type {
    padding-bottom: 10px;
  }
  .create-new-link {
    margin: 20px 20px;
    width: 85%;
  }
  .account-detail {
    font-size: 13px;
  }
  .account-detail__title {
    font-size: 9px;
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 768px) {
  .big-wrapper {
    height: unset;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0px;
  }
  .big-box {
    width: 100%;
    height: unset;
    margin-bottom: 0;
    padding: 30px 50px;
  }
}
@media screen and (min-width: 900px) {
  .big-wrapper {
    height: unset;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0px;
  }
  .big-box {
    width: 48%;
    height: unset;
    margin-bottom: 0;
    padding: 30px 50px;
  }
}
@media screen and (min-width: 2000px) {

}

/* New account form */
/* Media queries */
@media screen and (max-width:480px) {
  .account-form-wrapper {
    padding: 0;
  }
  .account-form {
    flex-direction: column;
    padding-top: 10px;
  }
  .create-acc-form__input {
    width: 100%;
  }
  .reg-form__fieldset {
    margin: 15px 5px;
    padding: 10px;
    width: 97%;
  }
  .reg-form__fieldset .reg-form__button {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .account-form__fieldset {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .account-form {
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
  }
  .create-acc-form__input, #create-account-button {
    width: 100%;
  }
  .reg-form__fieldset {
    margin: 15px 25px;
    padding: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .account-form {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 30px;
  }
  .create-acc-form__input {
    width: 90%;
  }
  .reg-form__fieldset {
    margin: 15px 25px;
    padding: 20px;
    width: 70%;
  }
  .account-form__fieldset {
    flex-basis: 50%;
    width: 70%;
  }
}
@media screen and (min-width: 2000px) {

}

/* Transactions */
@media screen and (max-width: 480px) {
  .page-main {
    overflow-y: scroll;
  }
  .trans-tb-merchant-head, .trans-tb-merchant, .trans-tb-type-head, .trans-tb-type, .trans-tb-balance-head, .trans-tb-balance {
    display: none;
  }
  .trans-tb-icon-head, .trans-tb-icon, .view-trans-btn {
    display: initial;
  }
  .trans-tb-icon {
    flex: 0.05;
  }
  .detail-table {
    width: 100%;
    margin-left: 0;
  }
  .detail-table__cell {
    padding-left: 5px;
  }
  .single-detail-modal {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .profile__title {
    width: 180px;
  }
  .detail-table {
    width: 99%;
    table-layout: fixed;
    word-break: break-word;
  }
  .detail-table__cell {
    font-size: 12px;
  }
}
@media screen and (min-width: 1400px) {
  .detail-table__cell {
    font-size: 15px;
  }

}
@media screen and (min-width: 2000px) {

}

/* Admin dashboard */
/* media queries */
@media screen and (max-width: 480px) {
  .action-box {
    padding: 0;
  }
  .action-title {
    width: 100%;
    padding-top: 5px;
    padding-left: 25px;
    margin-top: 0;
    height: 25px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}
  
  .user-detail {
    margin: 10px;
    font-size: 12px;
  }
  .user-box {
    padding: 10px 20px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .action-box {
    padding: 0;
  }
  .action-title {
    padding-top: 15px;
    padding-left: 25px;
  }
  .action-category {
    font-size: 13px;
    padding-bottom: 10px;
  }
  .account-wrapper {
    width: 100%;
  }
  .user-detail {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 17px;
  }
  .user-box {
    padding: 50px 50px;
  }
}
@media screen and (min-width: 1400px) {
  .account-wrapper {
    width: 99%;
  }
  .user-box {
    height: 330px;
  }
}
@media screen and (min-width: 2000px) {
  .action-box {
    flex-basis: 565px;
  }
}

/* All accounts */
/* Media queries */
@media screen and (max-width: 480px) {
  .all-accounts-table .detail-table__head:nth-child(3),
  .all-accounts-table .detail-table__head:nth-child(4),
  .all-accounts-table .detail-table__head:nth-child(5),
  .all-accounts-table .detail-table__cell:nth-child(3),
  .all-accounts-table .detail-table__cell:nth-child(4),
  .all-accounts-table .detail-table__cell:nth-child(5) {
    display: none;
  }
  .all-accounts-table .detail-table__head:nth-child(1),
  .all-accounts-table .detail-table__cell:nth-child(1) {
    flex: 0.2;
    padding-left: 10px;
  }
  .all-accounts-table .detail-table__head:nth-child(2),
  .all-accounts-table .detail-table__cell:nth-child(2) {
    flex: 0.8;
    padding-left: 15px;
  }
  .all-accounts-table .detail-table__head:nth-child(6),
  .all-accounts-table .detail-table__cell:nth-child(6) {
    flex: 0.4;
    padding-left: 10px;
  }
  .all-accounts-table .detail-table__head:nth-child(7),
  .all-accounts-table .detail-table__cell:nth-child(7) {
    flex: 0.7;
    padding-left: 15px;
  }
  .all-accounts-table .detail-table__head,
  .all-accounts-table .detail-table__cell {
    padding: 8px 0 8px 4px;
  }
  .account-form-wrapper {
    margin-bottom: 20px;
  }
  .action-icon {
    margin-right: 10px;
  }
  .brand-modal-inner {
    width: 90%;
  }
  .brand-modal-main p {
    font-size: 15px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .brand-modal-inner {
    width: 40%;
  }
  .all-accounts-table {
    width: 100%;
  }
  .all-accounts-table .detail-table__head:nth-child(3),
  .all-accounts-table .detail-table__head:nth-child(5),
  .all-accounts-table .detail-table__cell:nth-child(3),
  .all-accounts-table .detail-table__cell:nth-child(5) {
    display: none;
  }
  .all-accounts-table .detail-table__head:nth-child(1),
  .all-accounts-table .detail-table__cell:nth-child(1) {
    flex: 0.1;
    padding-left: 10px;
  }
  .all-accounts-table .detail-table__head:nth-child(2),
  .all-accounts-table .detail-table__cell:nth-child(2) {
    flex: 0.6;
    padding-left: 15px;
  }
  .all-accounts-table .detail-table__head:nth-child(4),
  .all-accounts-table .detail-table__cell:nth-child(4) {
    flex: 0.7;
    padding-left: 10px;
  }
  .all-accounts-table .detail-table__head:nth-child(6),
  .all-accounts-table .detail-table__cell:nth-child(6) {
    flex: 0.4;
    padding-left: 10px;
  }
  .all-accounts-table .detail-table__head:nth-child(7),
  .all-accounts-table .detail-table__cell:nth-child(7) {
    flex: 0.7;
    padding-left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .brand-modal-inner {
    width: 30%;
  }
  .all-accounts-table .detail-table__head:nth-child(1) {
    flex: 0.2;
  }
  .all-accounts-table .detail-table__head:nth-child(1),
  .all-accounts-table .detail-table__cell:nth-child(1) {
    flex: 0.3;
    padding-left: 20px;
  }
  .all-accounts-table .detail-table__head:nth-child(1) {
    flex: 0.2;
  }
  .all-accounts-table .detail-table__head:nth-child(7),
  .all-accounts-table .detail-table__cell:nth-child(7) {
    flex: 0.7;
    padding-left: 15px;
  }
  .all-accounts-table .detail-table__head:nth-child(7) {
    flex: 0.4;
  }
  .all-accounts-table .detail-table__head,
  .all-accounts-table .detail-table__cell {
    padding-left: 20px;
  }
}
@media screen and (min-width: 2000px) {
  .brand-modal-inner {
    width: 20%;
  }
}

/* User account view */
/* Media queries */
@media screen and (max-width: 480px) {
  .single-account-box {
    padding: 0;
    margin-bottom: 20px;
  }
  .single-account-wrapper {
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px 10px;
  }
  .single-account-table-wrapper {
    flex-direction: column;
    padding: 0;
  }
  .single-account-table {
    padding: 5px 0;
  }
  .single-account-table .detail-table__head {
    flex: unset;
    width: 120px;
  }
  .single-account-table .single-detail, .single-account-table .single-detail__value {
    margin: 0 5px;
    padding: 5px;
  }
  .account-image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
  }
  .account-image {
    width: 100px;
  }
  .account-signature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .single-account-box {
    padding: 0;
    margin-bottom: 20px;
  }
  .single-account-wrapper {
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px 10px;
  }
  .single-account-table-wrapper {
    padding: 20px 0;
  }
  .single-account-table .detail-table__head {
    flex: unset;
  }
  .account-image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .account-signature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .single-account-box {
    padding: 40px;
    margin-bottom: 20px;
  }
  .single-account-wrapper {
    flex-direction: row;
    width: 100%;
    padding: 40px 10px;
  }
  .single-account-table-wrapper {
    padding: 0px 0;
  }
  .single-account-table .detail-table__head {
    flex: unset;
  }
  .account-image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .account-signature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Credit-debit */
/* Media queries */
@media screen and (max-width: 480px) {
  .search {
    justify-content: center;
  }
  .search__input {
    font-size: 10px;
  }
  .transaction-box {
    padding: 0;
    overflow-y: overlay;
  }
  .transaction-account-search {
    display: flex;
    width: 78%;
    margin: 10px auto;
    margin-top: 30px;
  }
  .transaction-account-search .search__form {
    margin: 0;
  }
  .transaction-account-search .search__form .search__input {
    width: 80%;
  }
  .selected-account-detail-box {
    align-self: center;
    width: 70%;
    background: #ebeaea;
  }
  .selected-account-detail-box p {
    font-size: 12px;
  }
  .transaction-form {
    padding-top: 0;
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .search__input {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .trans-alert {
    margin: 0 auto;
  }
  .transaction-account-search {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .transaction-account-search .search__form {
    width: 64%;
  }
  .transaction-account-search .search__form .search__input {
    width: 94%;
  }
  .selected-account-detail-box {
    flex: unset;
    margin: 20px auto;
  }
  .selected-account-detail-box p {
    font-size: 13px;
  }
  .transaction-form {
    padding-top: 1px;
    width: 60%;
    margin: 0 auto;
  }
  .transaction-form__input, .transaction-form__label {
    height: 35px;
  }
  .transaction-form__input {
    margin: 0 0 20px 0;
  }
  .transaction-form__label {
    margin: 0;
  }
}

/* Users */
@media screen and (max-width: 480px) {
  .users-table .detail-table__head:nth-child(2),
  .users-table .detail-table__head:nth-child(4),
  .users-table .detail-table__cell:nth-child(2),
  .users-table .detail-table__cell:nth-child(4) {
    display: none;
  }
  .users-table__head:nth-child(1) {
    flex: 0.1;
    padding-left: 10px;
  }
  .users-table__cell:nth-child(1) {
    flex: 0.2;
    padding-left: 10px;
  }
  .users-table__head:nth-child(3) {
    flex: 1;
    padding-left: 20px;
  }
  .users-table__cell:nth-child(3) {
    flex: 1;
    padding-left: 10px;
  }
  .users-table__head:nth-child(5) {
    flex: 0.3;
  }
  .users-table__cell:nth-child(5) {
    flex: 0.3;
  }
  .users-table-wrapper {
    background: inherit;
  }
  .users-table {
    margin-bottom: 0px;
    margin-top: 0;
  }
  .users-table th, .users-table td  {
    font-size: 12px;
  }
  .users-table-wrapper .create-new-link {
    align-self: unset;
    margin: 20px 0;
    width: 100%;

  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .users-table {
    width: 100%;
  }
  .users-table .detail-table__head:nth-child(2),
  .users-table .detail-table__cell:nth-child(2) {
    display: none;
  }
  .users-table__head:nth-child(1) {
    flex: 0.1;
    padding-left: 20px;
  }
  .users-table__cell:nth-child(1) {
    flex: 0.2;
    padding-left: 20px;
  }
  .users-table__head:nth-child(3) {
    flex: 0.7;
    padding-left: 40px;
  }
  .users-table__cell:nth-child(3) {
    flex: 0.7;
    padding-left: 10px;
  }
  .users-table__head:nth-child(4) {
    flex: 0.2;
    padding-left: 40px;
  }
  .users-table__cell:nth-child(4) {
    flex: 0.2;
    padding-left: 10px;
  }
  .users-table__head:nth-child(5) {
    flex: 0.3;
  }
  .users-table__cell:nth-child(5) {
    flex: 0.3;
  }
}
@media screen and (min-width: 768px) {
  .users-table {
    width: 100%;
  }
  .users-table__head:nth-child(1) {
    flex: 0.1;
    padding-left: 10px;
  }
  .users-table__cell:nth-child(1) {
    flex: 0.2;
    padding-left: 10px;
  }
  .users-table__head:nth-child(2) {
    flex: 0.7;
    padding-left: 40px;
  }
  .users-table__cell:nth-child(2) {
    flex: 0.7;
    padding-left: 10px;
  }
  .users-table__head:nth-child(3) {
    flex: 0.7;
    padding-left: 40px;
  }
  .users-table__cell:nth-child(3) {
    flex: 0.7;
    padding-left: 10px;
  }
  .users-table__head:nth-child(4) {
    flex: 0.4;
    padding-left: 40px;
  }
  .users-table__cell:nth-child(4) {
    flex: 0.4;
    padding-left: 30px;
  }
  .users-table__head:nth-child(5) {
    flex: 0.4;
    padding-left: 40px;
  }
  .users-table__cell:nth-child(5) {
    flex: 0.4;
    padding-left: 30px;
  }
}

/* User profile view */
@media screen and (max-width: 480px) {
  .user-profile-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 20px 0px;
    align-items: flex-start;
  }
  .single-user-table-wrapper {
    width: 100%;
  }
  .single-user-table {
    justify-content: center;
  }
  .single-user-table .detail-table__head,
  .single-user-table .detail-table__cell {
    flex-basis: 50%;
  }
  .user-image-box {
    flex-basis: 50%;
    height: unset;
    border: none;
  }
  .user-image {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
@media screen and (max-width: 768px) {
  .user-profile-wrapper {
    flex-direction: column;
  }
  
}
@media screen and (min-width: 768px) {
  .user-profile-wrapper {
    align-self: center;
    flex-direction: column;
    padding: 0;
    width: 50%;
  }
  .single-account-box {
    flex: 1;
  }
}

/* Create user */
@media screen and (max-width: 480px) {
  .create-user-form {
    width: 100%;
  }
  .create-user-form__fieldset {
    width: 90%;
  }
  .create-user-form__fieldset .alert-message {
    margin-bottom: 10px;
  }
  .create-user-form__input, .create-user-form__fieldset .reg-form__button {
    width: 100%;
  }
  .create-user-form__fieldset .reg-form__button {
    margin-bottom: 0;
  }
  .create-user-form__fieldset .reg-form__button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .create-user-form {
    width: 100%;
  }
  .create-user-form__fieldset {
    width: 90%;
  }
  .create-user-form__fieldset .alert-message {
    margin-bottom: 10px;
  }
  .create-user-form__input, .create-user-form__fieldset .reg-form__button {
    width: 100%;
  }
  .create-user-form__fieldset .reg-form__button {
    margin-bottom: 0;
  }
  .create-user-form__fieldset .reg-form__button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .create-user-form__fieldset .alert-message {
    margin-bottom: 10px;
  }
  .create-user-form__fieldset .reg-form__button {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

